[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "905_post-workshop"]
	path = 905_post-workshop
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-nectar.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
[submodule "040_general_qc"]
	path = 040_general_qc
	url = https://github.com/tsonika/Denovo_DNA_2015/040_general_qc.git
[submodule "050_assembly_qc"]
	path = 050_assembly_qc
	url = https://github.com/tsonika/Denovo_DNA_2015/050_assembly_qc.git
[submodule "020_cmd_intro"]
	path = 020_cmd_intro
	url = https://github.com/tsonika/cmd_intro.git
